*{
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.page{
    background-color: rgb(131, 149, 161);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.5fr repeat(3, 1fr);
    width: 100%;
    height: 100%;
}
.navbar{
    grid-column: 1 / 2;
    grid-row: 1 / 5; 
    background-color: lightblue;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr repeat(2, 1fr);
    padding-top: 20px;
}
.nav1, .nav2{
    margin-top: -100px;
    grid-row: 2;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2rem;
    list-style: none;
}
.nav2{
    grid-row: 3;
}
.header{
    grid-column: 2 / 5;
    grid-row: 1 / 2;
    background-color: rgb(236, 236, 236);
    box-shadow: 4px 4px 4p;
}
#projectheader{
    color: aliceblue;
    height: fit-content;
    grid-column: 1 / 3;
    
}
.main{
    border: 1px solid;
    grid-row: 2 / 5 ;
    grid-column: 2 / 4;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px repeat(3, 200px);
    gap: 15px;
    padding: 10px;
    
}
.project, .announcements, .trending{
    background-color: white;
    border-left: 5px solid yellow;
    border-radius: 10px;
    box-shadow: 3px 3px;
    overflow-y: scroll;  /* Add the ability to scroll */
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  
}

  /* Hide scrollbar for Chrome, Safari and Opera */
.project::-webkit-scrollbar, .announcements::-webkit-scrollbar, .trending::-webkit-scrollbar {
    display: none;
}
  
.sidebar{
    border:1px solid;
    grid-row: 2 / 5;
    grid-column: 4 / 5;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 50px 1fr 50px 1fr;
    gap: 15px;
    padding: 10px;
}
#announcementheader{
    grid-row: 1;
    text-align: center;
    color: aliceblue;
}
.announcements{
    grid-row: 2 / 3;
}
.announcements li{
    border-bottom: 1px solid;
    padding: 10px;
}
#trendingheader{
    grid-row: 3;
    text-align: center;
    color: aliceblue;

}
.trending{
    grid-column: 1 / 2;
    grid-row: 4;
}
.trending li{
    padding: 10px;
    float: left;
    font-size: 15px;
}
.search{
    margin: 20px;
    grid-column: 2/ 5;
    font-weight: bold;
}
.search input{
    width: 60%;
    font-size: 20px;
}
.search >img{
    width: 20px;
}
.icons{
    position: relative;
    top: 7px;
    width:30px;
    border-radius:20px;
}
.grouping li{
    display: inline;
    float: right;
    padding: 10px;
    margin-right: 10px;
}
.loginform{
    padding-left: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
#login{
    grid-column: 1;
}
#buttons{
    grid-column: 2 / 4;
}
button{
    background-color: aqua;
    width: 100px;
    font-size: 20px;
    border-radius: 10px;
}